.vs
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Debug/
INSTALL.vcxproj
INSTALL.vcxproj.filters
INSTALL.vcxproj.user
RUN_TESTS.vcxproj
RUN_TESTS.vcxproj.filters
RUN_TESTS.vcxproj.user
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
ZERO_CHECK.vcxproj.user
_deps/
cmake_install.cmake
lib/
qvanish-lib.dir/
qvanish-lib.vcxproj
qvanish-lib.vcxproj.filters
qvanish-lib.vcxproj.user
qvanish-ut.dir/
qvanish-ut.vcxproj
qvanish-ut.vcxproj.filters
qvanish-ut.vcxproj.user
**.cmake
**.cmake
qvanish.dir/
qvanish.sln
qvanish.vcxproj
qvanish.vcxproj.filters
qvanish.vcxproj.user
x64/